<%= form_for(@user) do |f| %>
	<%= f.text_field :name, placeholder: "Name", class: "form_fields" %><br>
	<%= f.text_field :email, placeholder: "Email", class: "form_fields" %><br>
	<%= f.password_field :password, placeholder: "Password", class: "form_fields" %><br>
	<%= f.password_field :password_confirmation, placeholder: "Confirm password", class: "form_fields" %><br>
	<select name="user[type]", class="form_fields">
		<option value="Customer">Customer </option>
		<option value="Owner">Owner </option>
	</select><br>
	<%= f.submit class: "form_fields" %>
<% end %>