<div class="container">
	<h1><%= @restaurant.name %></h1>
	<%= @restaurant.location %>

	<% if @restaurant.open_time && @restaurant.close_time %>
	<p>Hours: <%= @restaurant.open_time.hour %> to <%= @restaurant.close_time.hour %> </p>
	<% end %>

	<% if current_user.nil? || current_user.type == "Owner" %>
	<p>Please sign up/Login to make a reservation</p>
	<% else %>
	<h1>Create A Reservation</h1>
	<%= form_for([@restaurant, @reservation]) do |f| %>
	<% if @reservation.errors.any? %>
	<h2><%= @reservation.errors.full_messages.first %></h2> 
	<% end %>

	Date of reservation: <%= f.datetime_select :book_time,  start_hour: @restaurant.open_time.hour, discard_minute: true, class: "form_fields" %><br>
	<%= f.date_field :date, class: "form_fields" %><br>
	<%= f.hidden_field 'customer_id', value: current_user.id %>
	<%= f.number_field :party_size, placeholder: "Party size", class: "form_fields" %><br>
	<%= f.submit class: "form_fields" %>
	<% end %>
	<% end %>
</div>