<!DOCTYPE html>
<html>
<head>
  <title>Table3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
	<p><%= flash[:alert] %></p>
<% end %>

<nav>
	<% if current_user %>
		Signed in as <%= link_to current_user.name, current_user %> |
		<%= link_to "Log out", session_path("current"), :method => :delete %>
	<% else %> 
		<div class="login"><%= link_to "Login", new_session_path %></div>
		<div class="signup"><%= link_to "Signup", new_user_path %></div>
	<% end %>
</nav>


<%= yield %>

</body>
</html>
